extensions:

receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
  attributes/example:
    actions:
      - key: example_field
        action: insert
        value: Hello from the OpenTelemetry Collector

exporters:
  debug:
    verbosity: detailed

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug]
    logs:
      receivers: [otlp]
      processors: [batch, attributes/example]
      exporters: [debug]


## we define three pipelines, one for each for traces, metrics, logs.
## Pipelines each receive data via otlp 


## updated the application to use the OTLP exporter to send telemetery data to the Collector. 
## by routing all telemetry data through a single endpoint, Collector can efficiently process and forward it to various backends.
